
<div class="card-deck">
  <% 8.times do %>
    <% @r = Recipe.find_by(id: @recipe_ids[rand(@recipe_ids.length - 1)])  %>
    <% unless @r == nil %>
      <div class="col-md-3 mt-3">
        <a href="/recipes/<%= @r.id %>" class="custom-card">
          <div class="card">
            <img class="card-img-top" src="<%= @r.images %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= @r.name %></h5>
            </div>
            <div class="card-footer">
              <% (@r.overall_rate).to_i.times do %>
                <span class="fa fa-star checked"></span>
              <% end %>
              <% (5 - @r.overall_rate).to_i.times do %>
                <span class="fa fa-star"></span>
              <% end %>
            </div>
          </div>
        </a>
      </div>
      <% @recipe_ids.delete(@r.id) %>
    <% end %>
  <% end %>
</div>

<div class="pages text-center">
  <b>There are <%= Recipe.all.count %> recipes and <%= User.all.count %> users.</b>
</div>