<h1>Your search result</h1>

<% @recipe.each do |r| %>
	<a href="/recipes/<%= r.id %>">
		<h2><%= r.name %></h2>
	</a>
	<p>Created by: <%= r.user.username %></p>
	<p>Overall rating: <%= Review.overall_rating(r.id) %> / 5</p>
	<p><%= r.description %></p>
	<p><%= r.created_at %></p>
<% end %>

<h2>Other search result</h2>
<ul class="other-list"></ul>