<!DOCTYPE html>
<html>
  <head>
    <title>RecipeStep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if cookies[:auth_token] and current_user.role == "regular" %>
      <%= render partial: "navbar/regular" %>
    <% elsif cookies[:auth_token] and current_user.role == "admin" %>
      <%= render partial: "navbar/admin" %>
    <% else %>
      <%= render partial: "navbar/pre_login" %>
    <% end %>
    <%= yield %>
  </body>
</html>
